extends ./_layout.pug

block content
	#ingresarcarrera.formcontent
		.container
			.row
				.col-md-12
					h2.text-center Carreras
			.row
				.col-md-12
					form#form-carrera
						.row
							.col-md-6
								.form-group
									label(for="codigocarrera") Código
									input.form-control#codigocarrera(type="text", placeholder="Código de Carrera", name="codigocarrera")
							.col-md-6
								.form-group
									label(for="nombrecarrera") Nombre
									input.form-control#nombrecarrera(type="text", placeholder="Nombre de la Carrera", name="nombrecarrera")
						.row
							.col-md-6
								.form-group
									label(for="areacarrera") Área
									select.form-control#areacarrera(name="areacarrera")
							.col-md-6
								.form-group#btnupdateinsertcarrera
									button.btn.btn-default#btningresarcarrera(type="button") Ingresar Carrera

	#mostrarcarreras.tablecontent
		.container
			.row
				.col-md-12
					h2.text-center Listado de Carreras
			.row
				.col-md-12
					.table-responsive
						table.table
							thead
								tr
									th Códigos
									th Nombres
									th Area
									th Acciones
							tbody#tablacarreras

block scripts
	script(type="text/javascript", src="/js/carreras.js")