extends ./_layout.pug

block content

    #ingresardocente.formcontent
        .container
            .row
                .col-md-12
                    h2.text-center Ingresar Docentes
            .row
                .col-md-12
                    form#form-docente
                        .row
                            .col-md-6
                                .form-group
                                    label(for="rundocente") Run
                                    input.form-control#rundocente(type="text", placeholder="Ingrese el Run del Docente", name="rundocente")
                                    // pattern="(\d){1,2}(\.)?(\d){3}(\.)?(\d){3}(\-)([0123456789kK])"
                            .col-md-6
                                .form-group
                                    label(for="nombredocente") Nombre
                                    input.form-control#nombredocente(type="text", placeholder="Ingrese el Nombre del Docente", name="nombredocente")
                            .col-md-6
                                .form-group
                                    label(for="prioridaddocente") Prioridad
                                    input.form-control#prioridaddocente(type="number", name="prioridaddocente")
                            .col-md-6
                                .form-group
                                    label(for="btndisponibilidaddocente") Disponibilidad
                                    br
                                    a.btn.btn-default#btndisponibilidaddocente(data-toggle="modal", data-target="#modaldisponibilidaddocente") Ingresar Disponibilidad
                            .col-md-6
                                .form-group
                                    label(for="areadocente") Área
                                    select.form-control#areadocente(name="areadocente")
                            .col-md-6
                                .form-group
                                    label(for="perfilprofesionaldocente") Perfil Profesional
                                    select.form-control#perfilprofesionaldocente(name="perfilprofesionaldocente")
                        .row
                            .col-md-12
                                .form-group#btnupdateinsertdocente
                                    button.btn.btn-default#btningresardocente(type="button") Ingresar Docente
                                    
    #mostrardocentes.tablecontent
        .container
            .row
                .col-md-12
                    h2.text-center Listado de Docentes
            .row
                .col-md-12
                    .table-responsive
                        table.table
                            thead
                                tr
                                    th Rut
                                    th Nombre
                                    th Prioridad
                                    th Disponibilidad
                                    th Área
                                    th Perfil Profesional
                                    th Acciones
                            tbody#tabladocentes
                            
    .modal.fade#modaldisponibilidaddocente(tabindex="-1", role="dialog")
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal", arial-label="Close")
                        span(aria-hidden="true") X
                    h4.text-center.modal-title Ingresar Disponibilidad
                .modal-body
                    .row
                        .col-md-12
                            button.btn.btn-default#btndisponibilidadcompleta(type="button", style="margin-bottom:5px;") Insertar disponibilidad completa
                            .table-responsive
                                table.table.table-bordered#tabladisponibilidaddocentecompleta
                                    thead
                                        tr
                                            th Bloques
                                            th Lunes
                                            th Martes
                                            th Miercoles
                                            th Jueves
                                            th Viernes
                                            th Sabado
                                    tbody#tabledisponibilidaddocente
                .modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") Cerrar
                    
    .modal.fade#modaldisponibilidaddocentelistado(tabindex="-1", role="dialog")
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal", arial-label="Close")
                        span(aria-hidden="true") X
                    h4.text-center.modal-title Disponibilidad
                .modal-body
                    .row
                        .col-md-12
                            .table-responsive
                                table.table.table-bordered
                                    thead
                                        tr
                                            th Bloques
                                            th Lunes
                                            th Martes
                                            th Miercoles
                                            th Jueves
                                            th Viernes
                                            th Sabado
                                    tbody#tabledisponibilidaddocentelistado
                .modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") Cerrar
                            
block scripts

    script(type="text/javascript", src="/js/docentes.js")