extends ./_layout.pug

block content
	
	#index
		.container
			.row
				.col-md-12
					h1.text-center.title-index Edd
					h4.text-center.subtitle-index Sistema web de planificación horaria académica

	.container#about
		.row
			.col-md-4
				#video
					h3.text-center Video de presentación

			.col-md-8
				h2 Lorem Ipsum
				p.text-justify Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.

	#advantages
		.container
			.row
				.col-md-12
					.col-md-6
						.item-advantages
							h1.text-center
								span.glyphicon.glyphicon-time
							p.text-justify Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,

					.col-md-6
						.item-advantages
							h1.text-center
								span.glyphicon.glyphicon-usd
							p.text-justify Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,

			