extends ./_layout.pug

block content
	#login
		.container
			.row
				.col-md-12.center-align
					form#login-form
						.form-group
							label(for="email") Correo Electrónico
							input.form-control#email(type="email", placeholder="ejemplo@correo.com", name="email")
						.form-group
							label(for="password") Contraseña
							input.form-control#password(type="password", placeholder="Contraseña", name="pass")
						button.btn.btn-default#login-submit(type="button") Ingresar