extends ./_layout

block content
    #ingresarmaya.formcontent
        .container
            .row
                .col-md-12
                    h2.text-center Malla
            .row
                .col-md-12
                    form#form-maya
                        .row
                            .col-md-6
                                .form-group
                                    label(for="codigomaya") Código
                                    input.form-control#codigomaya(type="text", placeholder="Ingrese el código de la Malla", name="codigomaya")
                            .col-md-6
                                .form-group
                                    label(for="cantidadasignaturas") Cantidad de Asignaturas de la Malla
                                    input.form-control#cantidadasignaturas(type="number", placeholder="Ingrese la cantidad de asignaturas", name="cantidadasignaturas")
                            .col-md-6
                                .form-group
                                    label(for="codigocarreramaya") Carrera
                                    select.form-control#codigocarreramaya(name="codigocarreramaya")
                        .row
                            .col-md-12
                                .form-group#btnupdateinsertmaya
                                    button.btn.btn-default#btningresarmaya(type="button") Ingresar Maya
                                    
    #mostrarmaya.tablecontent
        .container
            .row
                .col-md-12
                    h2.text-center Listado de Mallas
            .row
                .col-md-12
                    .table-responsive
                        table.table
                            thead
                                tr
                                    th Código
                                    th Cantidad de Asignaturas
                                    th Carrera
                                    th Acciones
                            tbody#tablemayas

block scripts
    script(type="text/javascript", src="/js/mayas.js")