extends ./_layout

block content
    #modificarinformacionpersonal.formcontent
        .container
            .row
                .col-md-12
                    h2.text-center Modificar Información Personal
            .row
                .col-md-12
                    form#form-usuario
                        .row
                            .col-md-6
                                .form-group
                                    label(for="correousuario") Correo Electrónico
                                    input.form-control#correousuario(type="text", placeholder="Ingrese su Correo Electrónico", name="correousuario")
                            .col-md-6
                                .form-group
                                    label(for="contrasenausuario") Contraseña
                                    input.form-control#contrasenausuario(type="password", placeholder="Ingrese su Contraseña", name="contrasenausuario")
                            .col-md-6
                                .form-group
                                    label(for="nombreusuario") Nombre
                                    input.form-control#nombreusuario(type="text", placeholder="Ingrese su Nombre", name="nombreusuario")
                            .col-md-6
                                .form-group
                                    label(for="institucionusuario") Institución
                                    input.form-control#institucionusuario(type="text", placeholder="Ingrese su Institución", name="institucionusuario")
                            .col-md-6
                                .form-group
                                    label(for="areausuario") Área
                                    select.form-control#areausuario(name="areausuario")
                        .row
                            .col-md-12
                                .form-group
                                    button.btn.btn-default#btningresarinformacionpersonal(type="button") Modificar Información Personal
                                    
    #mostrarinformacionpersonal.tablecontent
        .container
            .row
                .col-md-12
                    h2.text-center Información Personal
            .row
                .col-md-12
                    .table-responsive
                        table.table
                            thead
                                tr
                                    th Correo Electrónico
                                    th Nombre
                                    th Institución
                                    th Área
                            tbody#tableinformacionpersonal

block scripts
    script(type="text/javascript", src="/js/modinformacionpersonal.js")