extends ./_layout.pug

block content
	#planificarhorarios
		.container
			.row
				.col-md-12
					h2.text-center Planificar Horarios
			.row
				.col-md-12
					label(for="planificararea") Área
					select.form-control#planificararea(name="planificararea")
				.col-md-12
					label(for="planificarcarrera") Carrera
					select.form-control#planificarcarrera(name="planificarcarrera")
				.col-md-12
					label(for="seccionplanificar") Sección
					select.form-control#seccionplanificar(name="seccionplanificar")
				.col-md-12
					label(for="cantidadsemanas") Cantidad de Semanas a Planificar
					input.form-control#cantidadsemanas(type="number", name="cantidadsemanas", value="18")
				.col-md-12
					label(for="fechacomienzo") Seleccione una fecha de comienzo de clases
					.row#fechacomienzo
						.col-md-6
							label(for="diacomienzo") Día de inicio
							input.form-control#diacomienzo(type="number", name="diacomienzo", value="1", min="1", max="31")
						.col-md-6
							label(for="mescomienzo") Mes de inicio
							input.form-control#mescomienzo(type="number", name="mescomienzo", value="1", min="1", max="12")
				.col-md-12
					br
					button.btn.btn-default#btnplanificar(type="button") Planificar Horarios

	.modal.fade#modalplanificar(tabindex="-1", role="dialog")
		.modal-dialog(role="document")
			.modal-content
				.modal-header
					button.close(type="button", data-dismiss="modal", arial-label="Close")
						span(aria-hidden="true") X
					h4.text-center.modal-title En construcción
				.modal-body
					p Trabajando muy duro, como un esclavo para el próximo semestre
					img.img-responsive(src="/img/homero.gif")
				.modal-footer
					button.btn.btn-default(type="button", data-dismiss="modal") Cerrar
					
block scripts
	script(type="text/javascript", src="/js/planificarhorarios.js")