extends ./_layout.pug

block content
	#planificarhorarios
		.container
			.row
				.col-md-12
					h2.text-center Planificar Horarios
			.row
				.col-md-12
					label(for="planificararea") Área
					select.form-control#planificararea(name="planificararea")
				.col-md-12
					label(for="planificarcarrera") Carrera
					select.form-control#planificarcarrera(name="planificarcarrera")
				.col-md-12
					label(for="seccionplanificar") Sección
					select.form-control#seccionplanificar(name="seccionplanificar")
				.col-md-12
					br
					button.btn.btn-default#btnplanificar(type="button") Planificar Horarios
					
	br
	#horariocreado
		.container
			.row
				.col-md-12
					.table-responsive
						table.table-bordered
							thead
								tr
									th Bloques Horarios
									th Lunes
									th Martes
									th Miercoles
									th Jueves
									th Viernes
									th Sabado
							tbody#tablehorariocreado

	.modal.fade#modalplanificar(tabindex="-1", role="dialog")
		.modal-dialog(role="document")
			.modal-content
				.modal-header
					button.close(type="button", data-dismiss="modal", arial-label="Close")
						span(aria-hidden="true") X
					h4.text-center.modal-title En construcción
				.modal-body
					p Trabajando muy duro, como un esclavo para el próximo semestre
					img.img-responsive(src="/img/homero.gif")
				.modal-footer
					button.btn.btn-default(type="button", data-dismiss="modal") Cerrar
					
block scripts
	script(type="text/javascript", src="/js/planificarhorarios.js")