extends ./_layout.pug

block content
    
    #ingresarsala.formcontent
        .container
            .row
                .col-md-12
                    h2.text-center Ingresar Sala
            .row
                .col-md-12
                    form#form-sala(method="POST", enctype="multipart/form-data", action="/insala")
                        .row
                            .col-md-6
                                .form-group
                                    label(for="codigosala") Código
                                    input.form-control#codigosala(type="text", name="codigosala", placeholder="Ingrese el código de la sala")
                            .col-md-6
                                .form-group
                                    label(for="capacidadalumnos") Capacidad de Alumnos
                                    input.form-control#capacidadalumnos(type="number", name="capacidadalumnos", placeholder="Ingrese la capacidad de alumnos de la sala")
                            .col-md-6
                                .form-group
                                    label(for="equipamientotecnologico") Equipamiento Tecnológico
                                    select.form-control#equipamientotecnologico(name="equipamientotecnologico")
                                        option(value="0") Laboratorio
                                        option(value="1") Sala
                                        option(value="2") Leica
                                        option(value="3") Taller
                            .col-md-6
                                .form-group
                                    label(for="disponibilidadsala") Disponibilidad
                                    input.form-control#disponibilidadsala(type="file", accept=".csv", name="disponibilidadsala")
                                    p El archivo debe ser un Excel .csv
                        .row
                            .col-md-12
                                button.btn.btn-default(type="submit") Ingresar Sala
                                
    #mostrarsala.tablecontent
        .container
            .row
                .col-md-12
                    h2.text-center Salas
            .row
                .col-md-12
                    .table-responsive
                        table.table
                            thead
                                tr
                                    th Código
                                    th Capacidad de Alumnos
                                    th Equipamiento Tecnológico
                                    th Disponibilidad
                                    th Acciones
                            tbody#tablesalas

block scripts
    script(type="text/javascript", src="/js/salas.js")