#index {
	padding: 30px;
	min-height: 10vh;
	background-color: gray;
}

.title-index {
	margin-top: 10vh;
	color: white;
}

.subtitle-index {
	color: white;
}

#video {
	width: 320px;
	height: 240px;
	background-color: gray;
	border-radius: 8px;
}

#video > h3 {
	color: white;
	padding-top: 100px;
}

.item-advantages {
	margin-top: 5px;
	padding: 15px;
	border-width: 1px;
	border-radius: 5px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	background-color: rgba(255, 255, 255, .8);
}

#about {
	padding: 30px;
}

#advantages {
	padding: 30px;
	min-height: 100vh;
	background-color: gray;
}

#beneficios-title {
	color: white;
}

#login {
	min-height: 100vh;
	background-color: gray;
}

#login-form {
	margin-top: 35vh;
	margin-left: auto;
	margin-right: auto;
	padding: 32px;
	width: 45%;
	height: 45%;
	border-radius: 5px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .8);
	background-color: rgba(255, 255, 255, .8);
}
/*
#ingresarcarrera {
	margin-top: 10vh;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 10px 10px 10px;
	width: 95%;
	height: 30%;
	border-radius: 5px;
	box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, .1);
	background-color: rgba(255, 255, 255, .8);
}

#mostrarcarreras {
	margin-top: 5vh;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 10px 10px 10px;
	width: 95%;
	height: 30%;
	border-radius: 5px;
	box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, .1);
	background-color: rgba(255, 255, 255, .8);
}
*/
.formcontent {
	margin-top: 10vh;
	margin-left: auto;
	margin-right: auto;
}

.tablecontent {
	margin-top: 5vh;
	margin-left: auto;
	margin-right: auto;
}

#planificarhorarios {
	margin-top: 15vh;
}